@import "scss/settings";

@import "../../bower_components/lumx/dist/scss/lumx";
@import "../../bower_components/mdi/scss//materialdesignicons.scss";

.content {
    padding-left: 50px;
    padding-right: 50px;
}
.top {
    padding-bottom: 10px;
}