<div ng-include="'components/navbar/navbar.html'"></div>

<div class="content">
  <div flex-container="row" flex-gutter="24">

    <div flex-item="2">
      <lx-select ng-model="selects.version" placeholder="Select version" choices="versions.values" floating-label>
        <lx-select-selected>
          {{ $selected.name }}
        </lx-select-selected>

        <lx-select-choices>
          {{ $choice.name }}
        </lx-select-choices>
      </lx-select>
    </div>

    <div flex-item="8">
      <lx-text-field label="Compiler options">
        <input type="text" ng-model="compilerOptions"
      </lx-text-field>
    </div>
  </div>

  <div flex-container="row" flex-gutter="24">
    <div flex-item="10">
      <div ui-ace="{ onLoad : aceLoaded }" ng-model="input"></div>

      <br/>
      <div class="mb">
        <button class="btn btn--m btn--green btn--raised" lx-ripple ng-click="execRun()" ng-disabled="!input">Run IT!</button>
      </div>
    </div>
  </div>

  <div flex-container="row" flex-gutter="8" ng-repeat="run in results.slice().reverse()" class="run">
    <div flex-item>
      <div class="card">
        <div class="p+">
          <span class="fs-headline">Input</span>

          <pre>{{run.input}}</pre>
        </div>
      </div>
    </div>

    <div flex-item>
      <div class="card">
        <div class="p+">
          <span class="fs-headline">Output</span>

          <pre>{{run.output}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>