<div ng-include="'components/navbar/navbar.html'"></div>

<div class="content">
  <div flex-container="row" flex-gutter="24">

    <div flex-item="2">
      <lx-select ng-model="selects.version" placeholder="Select version" choices="versions.values" floating-label>
        <lx-select-selected>
          {{ $selected.name }}
        </lx-select-selected>

        <lx-select-choices>
          {{ $choice.name }}
        </lx-select-choices>
        </lx-select>
    </div>

    <div flex-item="2">
      <lx-select ng-model="selects.cc" placeholder="Select CC" choices="cc.values" floating-label>
        <lx-select-selected>
          {{ $selected.name }}
        </lx-select-selected>

        <lx-select-choices>
            {{ $choice.name }}
        </lx-select-choices>
      </lx-select>
    </div>

    <div flex-item="2">
      <div class="switch">
        <input type="checkbox" id="checks" class="switch__input" ng-model="opts.checks">
        <label for="checks" class="switch__label">Checks</label>
      </div>

      <div class="switch">
        <input type="checkbox" id="threads" class="switch__input" ng-model="opts.threads">
        <label for="threads" class="switch__label">Threads</label>
      </div>

      <div class="switch">
        <input type="checkbox" id="stackTrace" class="switch__input" ng-model="opts.stackTrace">
        <label for="stackTrace" class="switch__label">Stack Trace</label>
      </div>
    </div>
  </div>

  <div flex-container="row" flex-gutter="24">
    <div flex-item>
      <div ui-ace="{ onLoad : aceLoaded }" ng-model="input"></div>

      <br/>
      <div class="mb">
        <button class="btn btn--m btn--green btn--raised" lx-ripple ng-click="execRun()" ng-disabled="!input">Run IT!</button>
      </div>
    </div>
  </div>

  <div flex-container="row" flex-gutter="24" ng-repeat="run in results.slice().reverse()" class="run">
    <div flex-item>
      <div class="card">
        <div class="p+">
          <span class="fs-headline">Input</span>

          <pre>{{run.input}}</pre>
        </div>
      </div>
    </div>

    <div flex-item  ng-show="run.output">
      <div class="card">
        <div class="p+">
          <span class="fs-headline display-block">Output</span>

          <pre>{{run.output}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>